.chat-container {
    height: 100%;
    width: 80%;
    border-left: 1px solid rgba(18, 10, 17, 0.6);
    display: flex;
    flex-direction: column;
}

.no-chat-selected {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-chat-selected p {
    font-size: 24px;
    font-weight: 500;
    color: #db924c;
}
