.message-input-container {
    padding: 0px 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: auto;
}

.message-input-container input {
    width: 100%;
    padding: 8px;
    background-color: #261b25;
    border: 1px solid #db924c;
    border-radius: 8px;
    color: #db924c;
}
.message-input-container input:focus {
    outline: 1px solid #db924c;
}

.message-input-container button {
    aspect-ratio: 1;
    padding: 8px;
    border-radius: 8px;
    background-color: #120a11;
    border: none;
}

.message-input-container button:hover {
    cursor: pointer;
    background-color: #181017;
}
