.message-input-container {
    border-top: 1px solid rgba(18, 10, 17, 0.6);
    padding: 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: auto;
}

.message-input-container textarea {
    width: 100%;
    min-height: 45px;
    max-height: 200px;
    padding: 8px;
    background-color: #261b25;
    border: 1px solid #db924c;
    border-radius: 8px;
    color: #db924c;
    resize: vertical;
    /* How do I vertically resize this in Non Chrome Browser? */
    field-sizing: content;
}
.message-input-container textarea:focus {
    outline: 1px solid #db924c;
}

.message-input-container button {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #120a11;
    border: none;
}

.message-input-container button:hover {
    cursor: pointer;
    background-color: #181017;
}
