.navbar {
    position: absolute;
    width: 100%;
    min-height: 100px;
    top: 0;
    left: 0;
    background-color: #1e151d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: #db924c;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-link:hover {
    color: #af743d;
}

.navbar-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.logout-button {
    color: #db924c;
}

.logout-button:hover {
    cursor: pointer;
    color: #af743d;
}
